$bg-white: #fdfdfd;
$link-color: #222288;

#resume-app {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	justify-content: center;
	display: flex;

	.resume-split-screen {
		width: 100vw;
		display: flex;
		background-color: $bg-white;
	}

	.resume {
		box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
		background-color: $bg-white;
		margin: 10px;
		padding: 40px;
		width: 794px;
		height: 1123px;
	}

	.resume-editor {
		background: rgb(39, 40, 34);
		width: 50%;
		position: relative;
		height: 100vh;
		display: flex;
		flex-flow: column;

		&__toolbar {
			display: flex;
			margin-bottom: 10px;

			.resume-editor__logo {
				color: white;
				border: 1px solid white;
				margin: 10px;
			}

			.btn {
				cursor: pointer;
				text-decoration: none;
				color: #efefef;
			}
		}
	}
}
